.min-h-100 {
  min-height: 100vh;
}

.min-h-50 {
  min-height: 50vh;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
  background: pink;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-down-enter, .fade-down-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.display-1 {
  line-height: .8;
}

body {
  font: bold 18px/100% 'Helvetica Neue', Arial, sans-serif;
}
